<!-- <div class="container-fluid" align="center">
  <div>
    <span>
      <button type="button" class="btn btn-primary" routerLink="/cat-list">喵咪列表</button>
    </span>
    <span>
      <button type="button" class="btn btn-primary" routerLink="/cat-search">喵咪查询</button>
    </span>
    <span>
      <button type="button" class="btn btn-primary" routerLink="/enemy-list">敌人列表</button>
    </span>
  </div>
  <div>
    <span>
      <button type="button" class="btn btn-primary" routerLink="/enemy-search">敌人查询</button>
    </span>
    <span>
      <button type="button" class="btn btn-primary" routerLink="/cat-add">喵咪新增</button>
    </span>
    <span>
      <button type="button" class="btn btn-primary">暂定功能</button>
    </span>
  </div>
</div> -->

<div class="nav">
  <span>
    <ng-container *ngFor="let data of navigateDatas">
      <button routerLink="{{data.link}}" class="beforeClicked" [class.isClicked]="data.isClicked" (click)="onClick(data.id)">
        {{data.showinfo}}
      </button>
    </ng-container>
  </span>
</div>