<h2 align="center" class="title">敌人列表</h2>
<table class="table table-bordered">
  <tr>
    <td width="57px" align="center" style="vertical-align:middle">
      <div class="category">敌人类型</div>
    </td>
    <td>
      <div class="container-fluid" align="center">
        <div>
            <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/all">全部</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/white">白</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/red">红</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/black">黑</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/float">浮空</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/metal">钢铁</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/angel">天使</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/alien">外星</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/zombie">僵尸</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/ancient">古代</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/witch">魔女</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/shitu">使徒</button></span>
        </div>
        <div>
            <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/alienWithStar">外星(带星星)</button></span>
            <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/category/none">无属性</button></span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td width="57px" align="center" style="vertical-align:middle">
      <div class="category">特性类别</div>
    </td>
    <td>
      <div class="container-fluid" align="center">
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/critical">暴击</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/waveAttack">波动</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/beatBack">击退</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/stopEnemy">静止</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/slowEnemy">减速</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/towerBreaker">破城</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/burrow">钻地</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/revive">复活</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/allPlace">全方位攻击</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/farPlace">远方攻击</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/attackUp">攻击力上升</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/deadAvoid">免死一次</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/attackDownEnemy">减攻</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/multiAttack">连续攻击</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/curse">古代诅咒</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/warp">传送</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/beatedBackInvalid">免疫击退</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/waveInvalid">免疫波动</button></span>
        </div>
        <div>
            <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/barrier">护盾</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/stopInvalid">免疫静止</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/slowInvalid">免疫减速</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/enemy-list-data/skillType/attackDownInvalid">免疫减攻</button></span>
        </div>
      </div>
    </td>
  </tr>
</table>