<h2 align="center" class="title">喵咪列表</h2>
<table class="table table-bordered">
  <tr>
    <td width="57px" align="center" style="vertical-align:middle">
      <div class="category">种类</div>
    </td>
    <td>
      <div class="container-fluid" align="center">
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/all">全部</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/normal">基本</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/EX">EX</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/rare">稀有</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/very_rare">激稀有</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/category/super_rare">超激稀有</button></span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td width="57px" align="center" style="vertical-align:middle">
      <div class="category">对敌类型</div>
    </td>
    <td>
      <div class="container-fluid" align="center">
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/white">白</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/red">红</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/black">黑</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/float">浮空</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/metal">钢铁</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/angel">天使</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/alien">外星</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/zombie">僵尸</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/ancient">古代</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/witch">魔女</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/antiEnemy/shitu">使徒</button></span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td width="57px" align="center" style="vertical-align:middle">
      <div class="category">特性类别</div>
    </td>
    <td>
      <div class="container-fluid" align="center">
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/superStrong">超强</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/highHP">耐揍</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/veryStrong">很强</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/critical">暴击</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/barrierBreak">破盾</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/waveAttack">波动</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/beatBack">击退</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/stopEnemy">静止</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/slowEnemy">减速</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/attackDownEnemy">减攻</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/metalType">钢铁</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/allPlace">全方位攻击</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/farPlace">远方攻击</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/attackUp">攻击力上升</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/deadAvoid">免死一次</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/oneAttack">只攻击一次</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/multiAttack">连续攻击</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/zombieKiller">僵尸杀手</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/witchKiller">魔女杀手</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/shituKiller">使徒杀手</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/doubleReward">两倍赏金</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/waveOffset">抵消波动</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/towerBreaker">破城</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/beatedBackInvalid">免疫击退</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/waveInvalid">免疫波动</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/stopInvalid">免疫静止</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/slowInvalid">免疫减速</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/attackDownInvalid">免疫减攻</button></span>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/transferInvalid">免疫传送</button></span>
        </div>
        <div>
          <span><button type="button" class="btn selectButton" routerLink="/cat-list-data/skillType/curseInvalid">免疫诅咒</button></span>
        </div>
      </div>
    </td>
  </tr>
</table>
